In [1]:
import pandas as pd
import numpy as np

In [2]:
%ls

df_2014.csv                 nsm_semidaily_df_2013.csv
nlg_df_2013.csv             nsm_semidaily_df_2014.csv
nlg_df_2014.csv             nsm_semidaily_mean_df.csv
nlg_semidaily_df_2013.csv   nsm_weekly_df.csv
nlg_semidaily_df_2014.csv   nsmz_df_2013.csv
nlg_semidaily_mean_df.csv   nsmz_df_2014.csv
nlg_weekly_df.csv           nsmz_semidaily_df_2013.csv
nlgz_df_2013.csv            nsmz_semidaily_df_2014.csv
nlgz_df_2014.csv            plankton_monthly_means_all_pts.csv
nlgz_semidaily_df_2013.csv  plankton_sector_monthly_means.csv
nlgz_semidaily_df_2014.csv  po4_semidaily_df_2013.csv
nmdz_df_2013.csv            po4_semidaily_df_2014.csv
nmdz_df_2014.csv            po4_semidaily_mean_df.csv
nmdz_semidaily_df_2013.csv  po4_weekly_df.csv
nmdz_semidaily_df_2014.csv  scratch.ipynb
no3_semidaily_df_2013.csv   Sectors/
no3_semidaily_df_2014.csv   sio4_semidaily_df_2013.csv
no3_semidaily_mean_df.csv   sio4_semidaily_df_2014.csv
no3_weekly_df.csv           sio4_semidaily_mean_df.csv
nsm_df_2013.csv             sio4_weekly_df.csv
nsm_df_2014.csv

In [24]:
nsm_13 = pd.read_csv('nsm_semidaily_df_2013.csv')
nlg_13 = pd.read_csv('nlg_semidaily_df_2013.csv')
nsmz_13 = pd.read_csv('nsmz_semidaily_df_2013.csv')
nmdz_13 = pd.read_csv('nmdz_semidaily_df_2013.csv')
nlgz_13 = pd.read_csv('nlgz_semidaily_df_2013.csv')
nsm_14 = pd.read_csv('nsm_semidaily_df_2014.csv')
nlg_14 = pd.read_csv('nlg_semidaily_df_2014.csv')
nsmz_14 = pd.read_csv('nsmz_semidaily_df_2014.csv')
nmdz_14 = pd.read_csv('nmdz_semidaily_df_2014.csv')
nlgz_14 = pd.read_csv('nlgz_semidaily_df_2014.csv')
no3_13 = pd.read_csv('no3_semidaily_df_2013.csv')
po4_13 = pd.read_csv('po4_semidaily_df_2013.csv')
sio4_13 = pd.read_csv('sio4_semidaily_df_2013.csv')
no3_14 = pd.read_csv('no3_semidaily_df_2014.csv')
po4_14 = pd.read_csv('po4_semidaily_df_2014.csv')
sio4_14 = pd.read_csv('sio4_semidaily_df_2014.csv')

In [26]:
nsm_13.head()

   Unnamed: 0 month        date  concentration group  year timestamp
0           0   Jan  2013-01-01   9.019494e-08   nsm  2013     00:00
1           1   Jan  2013-01-01   9.021880e-08   nsm  2013     12:00
2           2   Jan  2013-01-01   9.024291e-08   nsm  2013     00:00
3           3   Jan  2013-01-01   9.026729e-08   nsm  2013     12:00
4           4   Jan  2013-01-01   9.017967e-08   nsm  2013     00:00

In [ ]:
# For 2013 and 2014 semidaily csvs, take avg every 10076 rows, create and append dates vector, then relabel, then merge

In [27]:
nsm_13=nsm_13.groupby(np.arange(len(nsm_13))//10076).mean()
nlg_13=nlg_13.groupby(np.arange(len(nlg_13))//10076).mean()
nsmz_13=nsmz_13.groupby(np.arange(len(nsmz_13))//10076).mean()
nmdz_13=nmdz_13.groupby(np.arange(len(nmdz_13))//10076).mean()
nlgz_13=nlgz_13.groupby(np.arange(len(nlgz_13))//10076).mean()
no3_13=no3_13.groupby(np.arange(len(no3_13))//10076).mean()
po4_13=po4_13.groupby(np.arange(len(po4_13))//10076).mean()
sio4_13=sio4_13.groupby(np.arange(len(sio4_13))//10076).mean()

nsm_14=nsm_14.groupby(np.arange(len(nsm_14))//10076).mean()
nlg_14=nlg_14.groupby(np.arange(len(nlg_14))//10076).mean()
nsmz_14=nsmz_14.groupby(np.arange(len(nsmz_14))//10076).mean()
nmdz_14=nmdz_14.groupby(np.arange(len(nmdz_14))//10076).mean()
nlgz_14=nlgz_14.groupby(np.arange(len(nlgz_14))//10076).mean()
no3_14=no3_14.groupby(np.arange(len(no3_14))//10076).mean()
po4_14=po4_14.groupby(np.arange(len(po4_14))//10076).mean()
sio4_14=sio4_14.groupby(np.arange(len(sio4_14))//10076).mean()

In [53]:
dates_13 = pd.DataFrame([])
dates_13["Time"] = pd.date_range(start="2013-01-02 12:00:00",
                                   end = '2013-12-28 00:00:00',
                                   freq = '12H' )

dates_14 = pd.DataFrame([])
dates_14["Time"] = pd.date_range(start="2014-01-02 12:00:00",
                                   end = '2014-12-28 00:00:00',
                                   freq = '12H' )

In [63]:
df1 = pd.concat([dates_13, nsm_13], axis=1)
df1=df1.rename(columns={"concentration": "nsm"})

df1 = pd.concat([df1, nlg_13], axis=1)
df1=df1.rename(columns={"concentration": "nlg"})

df1 = pd.concat([df1, nsmz_13], axis=1)
df1=df1.rename(columns={"concentration": "nsmz"})

df1 = pd.concat([df1, nmdz_13], axis=1)
df1=df1.rename(columns={"concentration": "nmdz"})

df1 = pd.concat([df1, nlgz_13], axis=1)
df1=df1.rename(columns={"concentration": "nlgz"})

df1 = pd.concat([df1, no3_13], axis=1)
df1=df1.rename(columns={"concentration": "no3"})

df1 = pd.concat([df1, sio4_13], axis=1)
df1=df1.rename(columns={"concentration": "sio4"})

df1 = pd.concat([df1, po4_13], axis=1)
df1=df1.rename(columns={"concentration": "po4"})

del df1['year']
del df1['Unnamed: 0']
df1.head()

,Time,nsm,nlg,nsmz,nmdz,nlgz,no3,sio4,po4
0,2013-01-02 12:00:00,7.615127e-08,6.438968e-08,1.150254e-07,5.003748e-08,1.214232e-08,0.000002,0.000003,1.650181e-07
1,2013-01-03 00:00:00,6.820777e-08,6.295397e-08,1.272876e-07,5.251781e-08,1.256210e-08,0.000002,0.000003,1.620712e-07
2,2013-01-03 12:00:00,6.974728e-08,6.540762e-08,1.294311e-07,5.342533e-08,1.262885e-08,0.000001,0.000003,1.589473e-07
3,2013-01-04 00:00:00,5.924295e-08,6.272898e-08,1.316977e-07,5.392402e-08,1.265265e-08,0.000001,0.000003,1.562457e-07
4,2013-01-04 12:00:00,6.403061e-08,6.687172e-08,1.328638e-07,5.491662e-08,1.273956e-08,0.000001,0.000003,1.541479e-07

In [64]:
df2 = pd.concat([dates_14, nsm_14], axis=1)
df2=df2.rename(columns={"concentration": "nsm"})

df2 = pd.concat([df2, nlg_14], axis=1)
df2=df2.rename(columns={"concentration": "nlg"})

df2 = pd.concat([df2, nsmz_14], axis=1)
df2=df2.rename(columns={"concentration": "nsmz"})

df2 = pd.concat([df2, nmdz_14], axis=1)
df2=df2.rename(columns={"concentration": "nmdz"})

df2 = pd.concat([df2, nlgz_14], axis=1)
df2=df2.rename(columns={"concentration": "nlgz"})

df2 = pd.concat([df2, no3_14], axis=1)
df2=df2.rename(columns={"concentration": "no3"})

df2 = pd.concat([df2, sio4_14], axis=1)
df2=df2.rename(columns={"concentration": "sio4"})

df2 = pd.concat([df2, po4_14], axis=1)
df2=df2.rename(columns={"concentration": "po4"})

del df2['year']
del df2['Unnamed: 0']
df2.head()

,Time,nsm,nlg,nsmz,nmdz,nlgz,no3,sio4,po4
0,2014-01-02 12:00:00,8.377150e-08,3.504437e-08,7.206988e-08,4.158535e-08,9.618339e-09,0.000002,0.000003,1.634304e-07
1,2014-01-03 00:00:00,7.430062e-08,3.444903e-08,7.648702e-08,4.082312e-08,9.478566e-09,0.000002,0.000003,1.625840e-07
2,2014-01-03 12:00:00,8.653930e-08,3.796300e-08,8.522572e-08,4.155412e-08,9.615971e-09,0.000001,0.000003,1.526488e-07
3,2014-01-04 00:00:00,7.850748e-08,3.910222e-08,8.911860e-08,4.073867e-08,9.462977e-09,0.000001,0.000003,1.526995e-07
4,2014-01-04 12:00:00,8.912488e-08,4.101080e-08,1.010281e-07,4.451297e-08,1.005234e-08,0.000001,0.000002,1.380033e-07

In [65]:
frames = [df1, df2]
semidaily_means = pd.concat(frames, axis=0)
semidaily_means.head()

,Time,nsm,nlg,nsmz,nmdz,nlgz,no3,sio4,po4
0,2013-01-02 12:00:00,7.615127e-08,6.438968e-08,1.150254e-07,5.003748e-08,1.214232e-08,0.000002,0.000003,1.650181e-07
1,2013-01-03 00:00:00,6.820777e-08,6.295397e-08,1.272876e-07,5.251781e-08,1.256210e-08,0.000002,0.000003,1.620712e-07
2,2013-01-03 12:00:00,6.974728e-08,6.540762e-08,1.294311e-07,5.342533e-08,1.262885e-08,0.000001,0.000003,1.589473e-07
3,2013-01-04 00:00:00,5.924295e-08,6.272898e-08,1.316977e-07,5.392402e-08,1.265265e-08,0.000001,0.000003,1.562457e-07
4,2013-01-04 12:00:00,6.403061e-08,6.687172e-08,1.328638e-07,5.491662e-08,1.273956e-08,0.000001,0.000003,1.541479e-07

In [68]:
pd.DataFrame.to_csv(semidaily_means, 'semidaily_means.csv')

In [12]:
#df_new = df.groupby(['date', 'sector', 'group']).mean()
#pd.DataFrame.to_csv(df_new, 'df_sector_monthly_means.csv')